@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply mx-auto p-0  bg-white text-black font-[Playfair_Display,sans-serif];
}
*{
  @apply  font-serif;
}
.component {
  animation: action 2s 1; 
}
@keyframes action {
  from {
      transform: translateY(-100%);
  }
  to {
      transform: translateY(0);
  }
}

/* Footer styles */
footer {
  @apply text-center flex justify-evenly text-white;
}

.mid-container {
  @apply flex flex-col justify-center items-center relative;
}

.info-col {
  @apply mt-[5rem] flex flex-col justify-evenly items-center;
}

.footer-copyright {
  @apply px-[30px] py-[15px] text-center;
}

.box {
  @apply flex flex-col items-center justify-center mt-[30px];
}

.list2 {
  @apply list-none flex justify-center flex-wrap m-0 pl-0;
}

.list2 li {
  @apply mx-[15px];
}

.list2 li a {
  @apply block w-[60px] h-[60px] shadow-inner bg-cover text-center text-[30px] leading-[2.4] rounded-full text-white transition-all duration-300;
}

.footer-copyright-wrapper {
  @apply mx-auto;
}

.footer-copyright-text {
  @apply text-black text-[1.1rem] font-normal leading-[18px] my-0;
}
